<%= render "shared/header" %>
<div class="recruitment-details">
  <div class="recruitment-detail">
    <div class='button'>
    <% if current_user.id == @recruitment.user_id %>
      <%= link_to edit_prefecture_recruitment_path, class: "recruitment-edit-btn" do %>
        <i class="far fa-edit">編集</i>
      <% end %>
      <%= link_to prefecture_recruitment_path, class: "recruitment-delete-btn", method: :delete do %>
        <i class="far fa-trash-alt">削除</i>
      <% end %>
    <% end %>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿日時(更新日時)</th>
          <td class="detail-value"><%= l @recruitment.created_at %> ( <%= l @recruitment.updated_at %> )</td>
        </tr>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @recruitment.user.nickname, "/users/#{@recruitment.user_id}" %></td>
        </tr>
        <tr>
          <th class="detail-item">日程</th>
          <td class="detail-value"><%= @recruitment.event_date %></td>
        </tr>
        <tr>
          <th class="detail-item">時間</th>
          <td class="detail-value"><%= l @recruitment.start_time, format: :short %> ~ <%= l @recruitment.end_time, format: :short %></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= @recruitment.place %></td>
        </tr>
        <tr>
          <th class="detail-item">募集人数</th>
          <td class="detail-value"><%= @recruitment.number_of_people %></td>
        </tr>
        <tr>
          <th class="detail-item">募集レベル</th>
          <td class="detail-value"><%= @recruitment.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value-intro"><%= @recruitment.description %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="back-btn">
        <%= link_to prefecture_recruitments_path do %>
          <i class="fas fa-arrow-circle-left">一覧へ戻る</i>
        <% end %>
      </div>
      <div class="favorite-btn">
        <i class="far fa-thumbs-up"></i>
        <span>参加したい</span>
      </div>
    </div>
  </div>
  <div class="recruitment-comment">
    <div class="comment-title">
      <i class="far fa-comments">コメント一覧</i>
    </div>
      <div class="comment-box">
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
      <div class="container">
        <% if user_signed_in? %>
          <%= form_with model: [@recruitment, @comment], url: "/prefectures/#{@recruitment.prefecture_id}/recruitments/#{@recruitment.id}/comments",　class: "comment-submit", local: true do |f| %>
            <%= f.text_area :text, class: "comment-text", placeholder: "コメントする", rows: "2" %>
            <button type="submit" class="comment-btn">
              <i class="far fa-paper-plane"></i>
            </button>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
      </div>
  </div>
</div>