<!DOCTYPE html>
<html>

<head>
  <title>フットサルから新たな一歩を</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <%# <script src="javascript/show.js"></script> %>
  
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>